body {
    padding-top: 70px;
}
input[type="radio"]:checked + label{
    color:#ff1493;
}
.nav-select{
    color:white;
}
.nav-select:hover{
    color:rgb(126, 126, 126);
}

@media (max-width: 991px) {
    .nav-large{
        display: none;
    }
}
@media (min-width: 991px) {
    .nav-small{
        display: none;
    }
}
